/* CSS */

* {
      font-family: 'Fira Sans', sans-serif;
}
/* all text is Fira Sans font */

body {
      margin-left: 5%;
      margin-right: 5%;
}
/* overall margins */

section {
      clear: both;
}

h1 {
      font-size: xx-large;
      text-align: center;
}
/* big heading, used for name */

h2 {
      font-size: x-large;
}
/* heading level 2, most sections use this */

h3 {
      font-size: large;
}
/* smaller heading, probably not used */

a, a:link, a:hover, a:active {
      text-decoration: none;
      color: #369;
}
/* links don't look like shit */

.clearfix:after {
      content: "";
      display: block;
      clear: both;
}
/* clearfix */

.navbar-list {
      list-style: none;
      font-size: x-large;
      float: left;
      margin-left: 64px;
}
/* makes header links look nice */

.oneliners {
      text-align: center;
}
/* one line quotes and shit */

.details {
      display: block;
      margin-left: 20%;
      margin-right: 20%;
}
/* for the longer text */

.line {
      display: block;
      width: 100%;
      height: 2px;
      margin: auto;
      margin-top: 3%;
      background: black;
}
/* a simple separator */

.logo {
      height: 64px;
      width: 64px;
      border-radius: 50%;
}
/* sets size of logo */

.header {
      position: fixed;
      top: 0;
      width: 100%;
      background: #fff;
      padding-top: 2%;
}
/* properties for footer */

.subtext {
      font-weight: 100;
      position: relative;
      opacity: 0.75;
      font-size: 75%;
}
/* for text that shouldn't be super visible */

a.anchor {
      display: block;
      position: relative;
      visibility: hidden;
      padding-top: 10%;
      margin-top: -8%;
}
/* fix for wrong anchors */

a.navbar-links {
      color: black;
}

#nav-logo {
      float: left;
}

#profile-pic {
      display: block;
      border-radius: 50%;
      height: 384px;
      width: 384px;
      margin: auto;
      margin-bottom: 3%;
}
/* css for how the pic is displayed */
