body {
  background-color: #222;
  color: #eee;
}

a:hover {
  text-decoration: none;
}

.container {
  padding-bottom: 1em;
  padding-top: 1em;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: lowercase;
}
